@model ubtnews.Models.Home.IndexViewModel

@{
    ViewData["Title"] = "Home";
    var prevDisabled = !Model.Articles.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Articles.HasNextPage ? "disabled" : "";
}

<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8">
            <h1 class="my-4">
                News

            </h1>
            <!-- Blog Post -->
            @foreach (var item in Model.Articles)
            {
                <div class="card mb-4">
                    <img class="card-img-top" src="~/images/@item.Img" alt="Card image cap">
                    <div class="card-body">
                        <h2 class="card-title">@item.Title</h2>
                        <p class="card-text">@item.Body</p>
                        <a href="/Article/Details/@item.Id" class="btn btn-primary">Read More &rarr;</a>
                    </div>
                    <div class="card-footer text-muted">
                        Posted on @item.CreatedAt.ToString("dddd, dd MMMM yyyy") at  @item.CreatedAt.ToString("hh:mm tt")
                        <a href="#"></a>
                    </div>
                </div>
            }

            <!-- Pagination -->
            <ul class="pagination justify-content-center mb-4">
                <li class="page-item">
                    <a asp-action="Index"
                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                       asp-route-page="@(Model.Articles.PageIndex - 1)"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       class="btn btn-default @prevDisabled">
                        Previous
                    </a>
                </li>
                <li class="page-item disabled">
                    <a asp-action="Index"
                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                       asp-route-page="@(Model.Articles.PageIndex + 1)"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       class="btn btn-default @nextDisabled">
                        Next
                    </a>
                </li>
            </ul>
        </div>
        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">
            <!-- Search Widget -->
            <div class="card my-4">
                <h5 class="card-header">Search</h5>
                <div class="card-body">
                    <div class="input-group">
                        <form action="/" method="get" class="form-inline">
                            <input type="text" class="form-control" name="term" placeholder="Search for...">
                            <div class="input-group-btn">
                                <button class="btn btn-secondary" type="button">Go!</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Categories Widget -->
            <div class="card my-4">
                <h5 class="card-header">Categories</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled mb-0">
                                <li>
                                    <a class="page-link href="#">Economy</a>
                                </li>
                                <li>
                                    <a class="page-link href="#">Sport</a>
                                </li>
                                <li>
                                    <a class="page-link href="#">LifeStyle</a>
                                </li>
                                <li>
                                    <a class="page-link href="#">Feminism</a>
                                </li>
                                <li>
                                    <a class="page-link href="#">Fashion</a>
                                </li>
                                <li>
                                    <a class="page-link href="#">Health</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <ul class="list-unstyled mb-0">
                                <li>
                                    <a class="page-link href="#">Cusine</a>
                                </li>
                                <li>
                                    <a class="page-link href="#">Cars</a>
                                </li>
                                <li>
                                    <a class="page-link href="#">Tech</a>
                                </li>
                                <li>
                                    <a class="page-link href="#">Fun</a>
                                </li>
                                <li>
                                    <a class="page-link href="#">National</a>
                                </li>
                                <li>
                                    <a class="page-link href="#">Art</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Side Widget -->
        </div>
    </div>
    <!-- /.row -->
</div>


<!-- Bootstrap core JavaScript -->
<script src="lib/jquery/jquery.min.js"></script>
<script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
